@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
  background-image: url("../img/footer_lodyas.png"); }

footer {
  margin-top: 5px;
  border-radius: 5px; }
  footer ul {
    text-decoration: none;
    list-style: none;
    color: #fff; }
    footer ul li {
      display: inline-block; }
  footer .footerStyle {
    border-radius: 5px;
    padding-top: 5px;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25); }

.contentBox {
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25); }
  .contentBox b {
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif; }
  .contentBox .right a {
    color: #ff3414; }

.codeBox {
  background-color: #000;
  padding: 5px;
  border-radius: 5px; }

code {
  background-color: #000;
  padding: 0;
  border-radius: 2px; }

.navbar-header span {
  color: #fff; }

.codeView {
  background-color: #000;
  padding-top: 10px; }

.transParent {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25); }
  .transParent b {
    font-size: 1.3em;
    color: #fff; }
  .transParent .likeBox {
    color: #fff; }

.codeModal {
  background-color: #000;
  padding: 5px;
  border-radius: 5px; }
  .codeModal b {
    font-size: 1.3em;
    color: #fff; }
  .codeModal .likeBox {
    color: #fff; }

.modalBorder {
  padding: 5px;
  border-radius: 5px;
  border: 5px solid #333; }
  .modalBorder blockquote p {
    padding: 5px;
    border-radius: 5px; }

.formModal input {
  width: 100%; }
.formModal label {
  font-size: 1.2em; }

.text-color {
  color: #000;
  padding: 5px;
  border-radius: 5px;
  text-align: center; }
  .text-color a {
    color: #000; }

.left {
  float: left; }

.right {
  float: right; }

.posterBox {
  background-color: #666;
  border-radius: 5px;
  padding-top: 5px; }
  .posterBox label {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    padding: 5px; }

.commentPosts {
  background-color: #666;
  color: #fff;
  padding-bottom: 10px; }
  .commentPosts ul {
    list-style: none; }
    .commentPosts ul li {
      display: inline-block;
      font-weight: bold; }

.userPosts {
  border-radius: 5px;
  margin-top: 2px;
  vertical-align: middle;
  background-color: #333; }

.commentTitle {
  color: #fff; }

.commentsBG {
  margin-top: 5px;
  background-color: #333; }

@media screen and (max-width: 410px) {
  .navView {
    visibility: visible; }

  .navQuery {
    visibility: hidden;
    display: none; }

  .blockHead {
    display: inline-block; } }

/*# sourceMappingURL=main.css.map */
