$font-stack:    Helvetica, sans-serif;
$primary-color: #666;
$secondary-color: #333;
$code-bg: #000;
$text-color: #fff;
$br: 5px;
$zero: 0;
$fullWidth: 100%;
$left: left;
$right: right;
$border: 1px;
body {
  background-image: url("../img/footer_lodyas.png");
}
.contentBox{
  border-radius: $br;
  background-color: $secondary-color;
  color: $text-color;
  padding-top: $br;
  padding-bottom: $br;
  b{
    font-size: 1.3em;
  }
}
.codeBox{
  background-color: $code-bg;
  padding: $br;
  border-radius: $br;
}
code{
  background-color: $code-bg;
  padding: $zero;
}
.codeView{
}
.codeModal{
  background-color: $code-bg;
  padding: $br;
  border-radius: $br;
  b{
    font-size: 1.3em;
    color: $text-color;
  }
  .likeBox{
    color: $text-color;

  }
}

.modalBorder {
  padding: $br;
  border-radius: $br;
  border: $br solid $secondary-color;
  blockquote{
      p {
        padding: $br;
        border-radius: $br;
      }
  }
}
.formModal{
  input{
    width: $fullWidth;
  }
  label{
    font-size: 1.2em;
  }
}
.text-color{
  color: $code-bg;
  padding: $br;
  border-radius: $br;
  text-align: center;
  a {
    color: $code-bg;
  }
}
.left {
  float: left;
}
.right{
  float: right;
}
.posterBox{
  background-color: $secondary-color;
  border-radius: $br;
  padding-top: $br;

  label{
    color: $text-color;
  }
}
.blockHead{
  display: inline-block;
}

@media screen and (max-width: 410px) {

  .navView{
    visibility: visible;
  }

  .navQuery{
    visibility: hidden;
    display: none;
  }
  .smallHidden{
    display: none;
  }
  .blockHead{
  display: inline-block;
  }

}

